.background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    filter: blur(.15rem);
}

.circle {
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-left: 4svh solid aquamarine;
    background-color: rgb(4, 11, 12);
    box-shadow: -2svh 0 0 rgb(154, 234, 249);
    box-sizing: border-box;
    animation: rotation-slow 240s infinite linear;
}

.rings {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-style: solid;
    background-color: transparent;
    transition: all 0s, border-radius 1.5s, opacity 1.5s, filter 1.5s;
    animation-name: rotation-slow, initial-rotation;
    animation-timing-function: linear, ease-out;
    animation-iteration-count: infinite, 1;
    opacity: 0.3;
}

:root {
    --start-height: 0.7;
    --height-increment: 0.1;
    --clr-1: rgb(0, 75, 160);
}

.rings:nth-of-type(1) {
    --current-height: calc(var(--start-height));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: transparent var(--clr-1) var(--clr-1) transparent;
    border-width: 0 0 var(--border-width) var(--border-width);
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;

}

.rings:nth-of-type(2) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*1));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: var(--clr-1) var(--clr-1) transparent transparent;
    border-width: 0 var(--border-width) var(--border-width) 0;
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;
}

.rings:nth-of-type(3) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*2));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: var(--clr-1) transparent transparent var(--clr-1);
    border-width: var(--border-width) var(--border-width) 0 0;
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;
}

.rings:nth-of-type(4) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*3));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: transparent transparent var(--clr-1) var(--clr-1);
    border-width: var(--border-width) 0 0 var(--border-width);
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;
}

.rings:nth-of-type(5) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*4));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: transparent var(--clr-1) var(--clr-1) transparent;
    border-width: 0 0 var(--border-width) var(--border-width);
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;

}

.rings:nth-of-type(6) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*5));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: var(--clr-1) var(--clr-1) transparent transparent;
    border-width: 0 var(--border-width) var(--border-width) 0;
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;
}

.rings:nth-of-type(7) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*6));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: var(--clr-1) transparent transparent var(--clr-1);
    border-width: var(--border-width) var(--border-width) 0 0;
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;
}

.rings:nth-of-type(8) {
    --current-height: calc(var(--start-height) + (var(--height-increment)*7));
    --border-width: calc(var(--current-height)*1svh);
    --animation-duration: calc(60s*var(--current-height));

    height: calc(var(--current-height)*100svh);
    border-color: transparent transparent var(--clr-1) var(--clr-1);
    border-width: var(--border-width) 0 0 var(--border-width);
    animation-duration: var(--animation-duration), calc(var(--animation-duration) / 15);
    animation-delay: calc(var(--animation-duration) / 15), 0s;
}

@keyframes rotation-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes initial-rotation {
    0% {
        filter: hue-rotate(-90deg);
        transform: rotate(180deg);
        opacity: 0.8;
    }

    100% {
        filter: hue-rotate(0deg);
        transform: rotate(360deg);
        opacity: 0.3;
    }
}