.intro-text {
    font-size: clamp(1.5rem, 1svw, 2rem);
    text-shadow: 0.1rem 0.1rem rgb(0, 55, 111);
    color: white;
    margin: 1rem;
}

.links {
    margin: 1rem;
    margin-top: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}