:root {
    --border-color: rgba(77, 166, 255, 0.3);
}


.card {
    border-color: var(--border-color);
    border-style: solid;
    transition: all 1s, transform 2s, box-shadow 1s;
    will-change: transform;
}

.card-column {
    position: absolute;
    top: 15dvh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80dvw;
    max-width: 800px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-width: 0.1dvh;
}

.card-column::after {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    opacity: .1;
    transition: 3s;
    filter: blur(0.2rem);
    border-style: solid;
    border-width: 0.5rem;
    border-color: rgb(128, 192, 255);
    will-change: opacity;
    animation: float-shadow 6s infinite alternate ease-in-out;
}

@keyframes float-shadow {
    0%, 100% {
        opacity: .1;
    }

    50% {
        opacity: .4;
    }
}

.card-banner {
    height: 20dvh;
    max-height: 200px;
    min-height: 100px;
}

.card,
.card-banner,
.card-body {
    background-color: rgba(0, 20, 41, 0.1);
}