:root {
    --border-color: rgba(77, 166, 255, 0.3);
}


.card {
    border-color: var(--border-color);
    border-style: solid;
    transition: all 1s, transform 2s, box-shadow 1s;
}

.card-column {
    position: absolute;
    top: 15dvh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80dvw;
    max-width: 800px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-width: 0.1dvh;
}

.card-column::after {
    content: '';
    position: absolute;
    inset: .2rem .2rem .2rem .2rem;
    pointer-events: none;
    animation: float-shadow 3s infinite alternate ease-in-out;
    opacity: 0;
    transition: 3s;
    filter: blur(0.2rem);
}

.card-column:hover::after {
    box-shadow: 0 0 0 0.5rem rgb(128, 192, 255);
}

@keyframes float-shadow {
    0% {
        opacity: .2;
    }

    100% {
        opacity: .6;
    }
}

.card-banner {
    height: 20dvh;
    max-height: 200px;
    min-height: 100px;
}

.card,
.card-banner,
.card-body {
    background-color: rgba(0, 20, 41, 0.1);
}