.profile-info {
    display: grid;
    grid-template-rows: 2;
    vertical-align: top;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 55, 111,0.4);
    transition: 2s ease-in 0.5s ;
}

.profile-info:hover {
    background-color: rgba(0, 55, 111,0.8);
}

.profile-info__section {
    transition: 2s;
}

.profile-picture {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: -20px;
    border-radius: 15%;
    border-width: 2px;
    justify-content: center;
    object-fit: cover;
    object-position: top;
    position: absolute;
    transition: 1.5s;
}

.profile-picture:hover {
    box-shadow: 0px 4px 20px rgb(77, 166, 255);
}

.profile-info__name {
    font-size: 30px;
    color: white;
    margin-left: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.profile-info__discord {
    margin-left: 140px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 10;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: 0.3s;

}

.profile-info__discord-logo {
    height: 22px;
    border-radius: 10%;
    border-width: 2px;
    justify-content: center;
    object-fit: cover;
    object-position: top;
}

.profile-info__discord-username {
    margin-left: 3px;
}